{% extends 'layout.html' %}
{% load static %}

<!-- Page Title -->
{% block title %}
    <title>
        ECorner - {{ exam.title }}
    </title>
{% endblock %}


<!-- Style -->
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/exam-pano.min.css' %}">
{% endblock %}


{% block root %}

    <!-- Breadcrumb olmaz -->

    <div class="exam-pano" data-url="{% url 'generatequizforexampano' exam.slug %}">
        <div class="header">
            <div class="left">Sual</div>
            <div class="right">
                <button>
                    <i class="fa-regular fa-bookmark"></i>
                </button>
            </div>
        </div>
        
        <!-- ExamBox -->

        <div class="button-group">
            <button>
                <i class="fa-solid fa-arrow-left"></i> Əvvəlki
            </button>
            <span>
                5
            </span>
            <button>
                Sonrakı <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
    </div>

    
{% endblock %}

<!-- Scripts -->
{% block scripts %}


    <script>

        createExamBox("Bakı hansı ölkənin paytaxtıdır ?")

        async function createExamBox(text){
            let exam_pano_h = document.querySelector(".exam-pano > .header")

            let exam_box = document.createElement("div")
            exam_box.className = "exam-box"

            let text_box = document.createElement("div")
            text_box.className = "text"
            text_box.innerText = text 

            exam_box.appendChild(text_box)


            let options = document.createElement("div")
            options.className = "options"

            for (const element of ['a', 'b', 'c', 'd']) {
                let opt_lbl = createOptionLabel(`xs-opt-${element}`, element, "Lorem ipsum dolor sit amet")
                options.appendChild(opt_lbl)
            }

            exam_box.appendChild(options)

            exam_pano_h.insertAdjacentElement("afterend", exam_box);
            await getQuizForExamPano()
        }


        function createOptionLabel(id, opt, opt_text){
            let lbl = document.createElement("label")
            lbl.className = "option"
            lbl.setAttribute("for", id)

            let lbl_input = document.createElement("input")
            lbl_input.setAttribute("type", "radio")
            lbl_input.setAttribute("name", "answer")
            lbl_input.setAttribute("value", opt)
            lbl_input.setAttribute("id", id)

            let sp = document.createElement("span")
            sp.innerText = opt 

            let p = document.createElement("p")
            p.innerText = opt_text

            lbl.appendChild(lbl_input)
            lbl.appendChild(sp)
            lbl.appendChild(p)

            return lbl
        }
    
    
        async function getQuizForExamPano(){
            let url = document.querySelector("exam-pano").dataset.url 
            const response = await fetch(url, {
                method: "POST",

                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken"),
                },

                // body: JSON.stringify({
                //     "id": id,
                //     "user_answer": userAnswer
                // })
            })

            const data = await response.json()
            console.log(data)
        }
    
    
    </script>


{% endblock %}