{% extends 'layout.html' %}
{% load static %}

<!-- Page Title -->
{% block title %}
    <title>
        ECorner - {{ exam.title }}
    </title>
{% endblock %}


<!-- Style -->
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/exam-detail.min.css' %}">
{% endblock %}


{% block root %}

    <!-- Breadcrumb --> 
    <div class="breadcrumb">
        <a href="{% url 'dashboard' %}"><i class="fa-solid fa-home"></i> Ana səhifə</a>
        <span>İmtahan detal səhifəsi</span>
    </div>

    <div class="exam-detail">
        <div class="exam-type">
            {% if exam.exam_type == 'endless' %}
                <span class="exam-type-text">Limitsiz sual sayı</span>
            {% elif exam.exam_type == 'limited' %}
                <span class="exam-type-text">Məhdud sual sayı : {{exam.question_count}}</span>
            {% endif %}
        </div>
        <h1>{{ exam.title }}</h1>
        <p>
            {{ exam.description }}
        </p>
        <div class="tags">
            {% for tag in exam.tags.all %}
                <div class="tag">
                    <div class="sharp">#</div>
                    <div class="tag-text">{{tag.name}}</div>
                </div>
            {% endfor %}
        </div>

        {% if is_enrolled %}
            <a href="{% url 'exampano' exam.slug %}" class="start-enrolled">
                İmtahana başla
            </a>
        {% else %}
            <a href="{% url 'enrollexam' %}" class="start" data-rurl="{% url 'exampano' exam.slug %}" data-id="{{exam.id}}">
                İmtahana yazıl
            </a>
        {% endif %}

    </div>

    
{% endblock %}

<!-- Scripts -->
{% block scripts %}

    <script>
        let start = document.querySelector(".start")
        start.addEventListener("click", async function(e){
            e.preventDefault()
            let prev_inner_html = e.target.innerHTML
            e.target.innerHTML = `<i class="fa-solid fa-spinner fa-spin"></i>`
            let url = e.target.href 
            
            const response = await fetch(url, {
                method: "POST",

                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken"),
                },

                body: JSON.stringify({
                    "exam_id": e.target.dataset.id
                })
            })

            const data = await response.json()
            console.log(data.success)
            if (data.success){
                e.target.className = "start-enrolled"
                e.target.innerHTML = "İmtahana başla"
            } else {
                e.target.innerHTML = prev_inner_html
            }

            const message_type = data.type 
            const message_text = data.message 
            const main = document.querySelector("main");
            main.prepend(CreateMessageBox(message_type, message_text));
            window.scrollTo(0, 0)

        })
    </script>

{% endblock %}