{% extends 'layout.html' %}
{% load static %}
{% load custom_filters %}

<!-- Page Title -->
{% block title %}
    <title>
        ECorner - İmtahanlarım
    </title>
{% endblock %}


<!-- Style -->
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/exam.min.css' %}">
{% endblock %}


{% block root %}
    <!-- Breadcrumb --> 
    <div class="breadcrumb"> 
        <a href="{% url 'dashboard' %}"><i class="fa-solid fa-home"></i> Ana səhifə</a>
        <span>İmtahanlarım</span>
    </div>
    
    <div class="my-exams-header">
        <div class="addons">
            <div class="left">
                <h1>İmtahanlarım <span>{{my_exam_count}}</span></h1>
                <p>
                    Yaratdığınız imtahanları buradan idarə edə bilərsiniz.
                </p>
            </div>
            <div class="right">
                <div class="card">  
                    <div class="text">Aktiv imtahanlar</div>
                    <p>{{my_active_exam_count}}</p> 
                </div>
                <div class="card">  
                    <div class="text">Deaktiv imtahanlar</div>
                    <p>{{my_deactive_exam_count}}</p> 
                </div>
                <div class="card">  
                    <div class="text">Cəmi iştirakçı</div>
                    <p>240</p> 
                </div>
                <div class="card">  
                    <div class="text">Paylanmış XP</div>
                    <p>245, 750 </p> 
                </div>
            </div>
        </div>
        <div class="create-exam">
            <a href="{% url 'createnewexam' %}"><i class="fa-solid fa-plus"></i> İmtahan yarat</a>
        </div>
    </div>

    <div class="my-exams">


        {% if exams %}
            {% for exam in exams %}
                <div class="exam {% if exam.is_active %} active-exam {% else %} pending-exam {% endif %} {% if exam.exam_type == 'endless' %}infinite{% endif %}">
                    <div class="level {{exam.difficulty}}-level">
                        <span></span>
                        <p>
                            {% if exam.difficulty == 'easy' %} Asan 
                            {% elif exam.difficulty == 'medium' %} Orta
                            {% elif exam.difficulty == 'hard' %} Çətin 
                            {% endif %}
                        </p>
                    </div>
                    <div class="title">{{exam.title}}</div>
                    <div class="author">
                        <div class="avatar">
                            {% if exam.author.avatar %}
                                <img src="{{exam.author.avatar.url}}" draggable="false" alt="{{exam.author.user.username}}">
                            {% else %}
                                <img src="{% static 'images/default-avatar.png' %}" draggable="false" id="default-img" alt="{{account.user.username}}">
                            {% endif %} 
                        </div>
                        <div class="author-info">
                            <h3>
                                <a href="{% url 'myaccount' exam.author.user.username %}">@{{exam.author.user.username}}</a>
                            </h3> 
                            <p>{{exam.author.user.first_name}} {{exam.author.user.last_name}}</p>
                        </div>
                    </div>
                    <div class="addons">

                        <div class="time-and-raiting-count">

                            <div class="earn">
                                <i class="fa-solid fa-trophy"></i>
                                {% if exam.exam_type == "limited" %}
                                    <b>+{{exam.earn_xp}} XP</b>
                                {% elif exam.exam_type == "endless" %}
                                    <b>+0.1 XP / doğru</b>
                                {% endif %}
                            </div>

                            {% if exam.exam_type == "limited" %}
                                <div class="time">
                                    <i class="fa-solid fa-stopwatch"></i>
                                    <span>{{exam.duration}} dəq</span>
                                </div>
                            {% endif %}
                            
                            {% if exam.rating_count > 0 %}

                                <div class="raiting">
                                    <i class="fa-solid fa-chart-line"></i>
                                    <b>4.7</b>
                                    <span>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star-half"></i>
                                    </span> 
                                </div>

                            {% endif %}

                            {% if exam.exam_type == "endless" %}
                                <div class="constant-q-count infinite">
                                    <i class="fa-solid fa-infinity"></i>
                                    <b>Limitsiz</b>
                                </div>
                            {% else %} 
                                <div class="constant-q-count">
                                    <i class="fa-solid fa-clipboard-list"></i>
                                    <b>{{exam.question_count}} Sual</b>
                                </div>
                            {% endif %}


                            <div class="question-count">
                                <div class="progress">
                                    {% if exam.exam_type == "endless" %}
                                    <div class="bar" style="width:0%;"></div>
                                    {% else %}
                                    <div class="bar" style="width:{{exam.progress}}%;"></div>
                                    {% endif %}
                                </div>
                                <div class="counter">
                                    Sual sayı :
                                    <span>{{exam.quizzes.all.count}}</span> 
                                    <span>|</span>
                                    {% if exam.exam_type == "endless" %}
                                        <span><i class="fa-solid fa-infinity"></i></span>
                                    {% else %}
                                        <span>{{exam.question_count}}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="details">
                            <div class="detail">
                                <i class="fa-solid fa-users"></i>
                                <p>
                                    <span>325</span>
                                    İştirakçı
                                </p>
                            </div>
                            <div class="detail">
                                <i class="fa-solid fa-trophy"></i>
                                <p>
                                    <span>14, 350</span>
                                    XP Paylanıb
                                </p>
                            </div>
                            <div class="detail">
                                <i class="fa-regular fa-calendar-days"></i>
                                <p>
                                    <span>{{exam.created_at|date:"m.d.Y"}}</span>
                                    Yaradılıb
                                </p>
                            </div>
                        </div>

                        <div class="tags">
                            {% for tag in exam.tags.all %}
                                <a class="tag" href="#">
                                    <span>#</span>
                                    <span>{{tag.name}}</span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="btn-group">
                        <a href="{% url 'updateexam' exam.slug %}"><i class="fa-regular fa-pen-to-square"></i> Düzəlt</a>
                        {% if exam.is_active == True %}
                            <a href="{% url 'activateexam' exam.id %}" class="deactivate"><i class="fa-solid fa-plug-circle-xmark"></i> Deaktiv et</a>
                        {% else %}
                            <a href="{% url 'activateexam' exam.id %}" class="activate"><i class="fa-solid fa-plug"></i> Aktiv et</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
       
    </div>

    <div class="pagination">
        <a href="#" class="page"><i class="fa-solid fa-angle-left"></i></a>
        <a href="#" class="page active-page">1</a>
        <a href="#" class="page">2</a>
        <a href="#" class="page">3</a>
        <a href="#" class="page"><i class="fa-solid fa-angle-right"></i></a>
    </div>

    

{% endblock %}

{% block scripts %}
    <!-- Scriptlərim -->
    <script> 
        let activate_btns = document.querySelectorAll("a.activate")
        let deactivate_btns = document.querySelectorAll("a.deactivate")
        activate_btns.forEach(item=>{
            item.addEventListener("click", function(e){
                e.preventDefault()
                ActivateExam(item)
            })
        })
        deactivate_btns.forEach(item=>{
            item.addEventListener("click", function(e){
                e.preventDefault()
                ActivateExam(item)
            })
        })

        async function ActivateExam(item){
            const url = item.getAttribute("href")
            const response = await fetch(url, {
                method: "POST",

                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                }
            })

            const data = await response.json()

            if (data.success){
                let _my_cards_active = document.querySelector(".addons > .right > .card:nth-child(1) > p")
                let _my_cards_deactive = document.querySelector(".addons > .right > .card:nth-child(2) > p")
                

                if (data.is_activate==true){
                    item.classList = "deactivate"
                    item.innerHTML = `<i class="fa-solid fa-plug-circle-xmark"></i> Deaktiv et`

                    _my_cards_active.innerText = parseInt(_my_cards_active.innerText) + 1
                    _my_cards_deactive.innerText = parseInt(_my_cards_deactive.innerText) - 1

                } else {
                    item.classList = "activate"
                    item.innerHTML = `<i class="fa-solid fa-plug"></i> Aktiv et`

                    _my_cards_deactive.innerText = parseInt(_my_cards_deactive.innerText) + 1
                    _my_cards_active.innerText = parseInt(_my_cards_active.innerText) - 1
                }
            } else {
                const message_type = data.type 
                const message_text = data.message 
                const main = document.querySelector("main");
                main.prepend(CreateMessageBox(message_type, message_text));
                window.scrollTo(0, 0)
            }
        }


        function CreateMessageBox(message_type, message_text){
            let div_1 = document.createElement("div")
            div_1.className = `alert alert-${message_type}`

            if (message_type=="error"){
                let i_1 = document.createElement("i")
                i_1.className = "fa-solid fa-triangle-exclamation" 
                div_1.appendChild(i_1)
            } else if (message_type == "success"){
                let i_1 = document.createElement("i")
                i_1.className = "fa-regular fa-circle-check" 
                div_1.appendChild(i_1) 
            }

            let p_1 = document.createElement("p")
            p_1.innerText = message_text
            div_1.appendChild(p_1)

            let span_1 = document.createElement("span")
            span_1.className = "fa-solid fa-xmark"
            span_1.setAttribute("onclick", "this.parentElement.remove()") 
            div_1.appendChild(span_1)

            return div_1
        }

    </script>
{% endblock %}