{% extends 'layout.html' %}
{% load static %}
{% load custom_filters %}

<!-- Page Title -->
{% block title %}
    <title>
        ECorner - İmtahanlarım
    </title>
{% endblock %}


<!-- Style -->
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/exam.min.css' %}">
{% endblock %}


{% block root %}
    <!-- Breadcrumb --> 
    <div class="breadcrumb"> 
        <a href="{% url 'dashboard' %}"><i class="fa-solid fa-home"></i> Ana səhifə</a>
        <span>İmtahanlarım</span>
    </div>
    
    <div class="my-exams-header">
        <div class="addons">
            <!-- Empty -->
        </div>
        <div class="create-exam">
            <a href="#"><i class="fa-solid fa-plus"></i> İmtahan yarat</a>
        </div>
    </div>

    <div class="my-exams">
        <div class="exam active-exam">
            <div class="title">MİQ-İnformatika (2026-2027)</div>
            <div class="author">
                <div class="avatar">
                    <img src="{% static 'images/cat.png' %}" alt="avatar" draggable="false">
                </div>
                <div class="author-info">
                    <h3>
                        <a href="{% url 'myaccount' 'mushvig' %}">@mushvig</a>
                    </h3>
                    <p>Shukurov Mushvig</p>
                </div>
            </div>
            <div class="addons">

                <div class="time-and-raiting-count">
                    <div class="time">
                        <i class="fa-solid fa-stopwatch"></i>
                        <span>5 dəq</span>
                    </div>

                    <div class="raiting">
                        <i class="fa-solid fa-chart-line"></i>
                        <b>4.7</b>
                        <span>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half"></i>
                        </span> 
                    </div>

                    <div class="question-count">
                        <div class="progress">
                            <div class="bar" style="width: 100%;"></div>
                        </div>
                        <div class="counter">
                            Sual sayı :
                            <span>25</span> 
                            <span>|</span>
                            <span>25</span>
                        </div>
                    </div>
                </div>

                

                <div class="tags">
                    <a class="tag" href="#">
                        <span>#</span>
                        <span>html</span>
                    </a>
                    <a class="tag" href="#">
                        <span>#</span>
                        <span>css</span>
                    </a>
                    <a class="tag" href="#">
                        <span>#</span>
                        <span>javascript</span>
                    </a>
                    <a class="tag" href="#">
                        <span>#</span>
                        <span>python</span>
                    </a>
                </div>
            </div>

            <div class="btn-group">
                <a href="#"><i class="fa-regular fa-pen-to-square"></i> Düzəlt</a>
                <a href="#" class="deactivate"><i class="fa-solid fa-plug-circle-xmark"></i> Deaktiv et</a>
            </div>
        </div>
        <div class="exam pending-exam">
            <div class="title">MİQ-İnformatika (2026-2027)</div>
            <div class="author">
                <div class="avatar">
                    <img src="{% static 'images/cat.png' %}" alt="avatar" draggable="false">
                </div>
                <div class="author-info">
                    <h3>
                        <a href="{% url 'myaccount' 'mushvig' %}">@mushvig</a>
                    </h3>
                    <p>Shukurov Mushvig</p>
                </div>
            </div>
            <div class="addons">

                <div class="time-and-raiting-count">
                    <div class="time">
                        <i class="fa-solid fa-stopwatch"></i>
                        <span>5 dəq</span>
                    </div>

                    <div class="raiting">
                        <i class="fa-solid fa-chart-line"></i>
                        <b>4.7</b>
                        <span>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half"></i>
                        </span> 
                    </div>

                    <div class="question-count">
                        <div class="progress">
                            <div class="bar" style="width:40%;"></div>
                        </div>
                        <div class="counter">
                            Sual sayı :
                            <span>10</span> 
                            <span>|</span>
                            <span>25</span>
                        </div>
                    </div>
                </div>

                

                <div class="tags">
                    <a class="tag" href="#">
                        <span>#</span>
                        <span>html</span>
                    </a>
                    <a class="tag" href="#">
                        <span>#</span>
                        <span>css</span>
                    </a>
                    <a class="tag" href="#">
                        <span>#</span>
                        <span>javascript</span>
                    </a>
                    <a class="tag" href="#">
                        <span>#</span>
                        <span>python</span>
                    </a>
                </div>
            </div>

            <div class="btn-group">
                <a href="#"><i class="fa-regular fa-pen-to-square"></i> Düzəlt</a>
                <a href="#" class="activate"><i class="fa-solid fa-plug"></i> Aktiv et</a>
            </div>
        </div>
    </div>

    

{% endblock %}

{% block scripts %}
    <!-- Scriptlərim -->
{% endblock %}