{% extends 'layout.html' %}
{% load static %}
{% load custom_filters %}

<!-- Page Title -->
{% block title %}
    <title>
        ECorner - {{exam.title}}
    </title>
{% endblock %}


<!-- Style -->
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/update-exam.min.css' %}">
{% endblock %}


{% block root %}
    <!-- Breadcrumb --> 
    <div class="breadcrumb">
        <a href="{% url 'myexams' %}"><i class="fa-solid fa-list"></i> İmtahanlarım</a>
        <span>{{exam.title|slice:"0:20"}}...</span>
    </div> 


    <div class="update-exam">
        <div class="tab-nav">
            <div class="tabs">
                <button class="active" data-id="1">Əsas məlumatlar</button>
                <button data-id="2">Suallar</button>
            </div>
            <div class="nav">
                <div class="base">
                    <h1 class="exam-title">
                        {{exam.title}}
                    </h1>
                    <p class="exam-description">
                        {{exam.description}}
                    </p>

                    <p class="tags-header"><i class="fa-solid fa-tags"></i> Etiketlər</p>
                    <div class="tags-box">
                        {% for tag in exam.tags.all %}
                            <div class="tag">
                                <span>#</span>
                                <span>{{tag.name}}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="questions">

                    <form action="" method="post" class="form">
                        <div class="header">
                            <div class="left">Yeni sual əlavə et</div>
                            <div class="right">
                                <button type="button">
                                    <i class="fa-solid fa-times"></i>
                                </button>
                            </div>
                        </div>

                        <label for="quiz_text_title">
                            <p>Sual mətni</p> 
                            <textarea name="" id="quiz_text_title"></textarea>
                        </label>

                        <div class="options">
                            <p>Variantlar</p>
                            <label for="">
                                <span>A</span> 
                                <textarea name="" id=""></textarea>
                            </label>
                            <label for="">
                                <span>B</span> 
                                <textarea name="" id=""></textarea>
                            </label>
                            <label for="">
                                <span>C</span> 
                                <textarea name="" id=""></textarea>
                            </label>
                            <label for="">
                                <span>D</span> 
                                <textarea name="" id=""></textarea>
                            </label>
                        </div>

                        <div class="correct-answer">
                            <p>Düzgün cavab seçin</p>
                            <div class="inner-container">
                                <label class="check-box" for="correct_answer_a">
                                    <input type="radio" id="correct_answer_a" name="correct_answer">
                                    <span></span>
                                    <p>A</p>
                                </label>
                                <label class="check-box" for="correct_answer_b">
                                    <input type="radio" id="correct_answer_b" name="correct_answer">
                                    <span></span>
                                    <p>B</p>
                                </label>
                                <label class="check-box" for="correct_answer_c">
                                    <input type="radio" id="correct_answer_c" name="correct_answer">
                                    <span></span>
                                    <p>C</p>
                                </label>
                                <label class="check-box" for="correct_answer_d">
                                    <input type="radio" id="correct_answer_d" name="correct_answer">
                                    <span></span>
                                    <p>D</p>
                                </label>
                            </div>
                        </div>

                        <div class="btn-group">
                            <button type="button">Ləğv et</button>
                            <button type="button">Əlavə et</button>
                        </div>
                    </form>

                    <div class="data">
                        <div class="questions-header">
                            <div class="left">
                                <label for="all-items">
                                    <input type="checkbox" id="all-items">
                                    <span>
                                        <i class="fa-solid fa-check-double"></i>
                                    </span>
                                </label>
                                <p>
                                    Sual sayı : <em>5</em>
                                </p>
                            </div>
                            <div class="right">
                                <button>
                                    Sual əlavə et <i class="fa-solid fa-plus"></i>
                                </button>
                                <button>
                                    Seçilənləri sil <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </div>
                        </div>
    
                        <div class="question">
                            <div class="container">
                                <div class="left">
                                    <div class="select-btn">
                                        <div class="dots">
                                            <span class="dot"></span>
                                            <span class="dot"></span>
                                            <span class="dot"></span>
                                        </div>
                                    </div>
                                    <label class="select-input" for="question_id_1">
                                        <input type="checkbox" id="question_id_1">
                                        <span><i class="fa-solid fa-check"></i></span>
                                    </label>
                                </div>
                                <div class="right">
                                    <div class="question-header">
                                        <div class="info">
                                            <span class="number">1</span>
                                            <span class="type">Variantlı sual</span>
                                        </div>
                                        <div class="control-buttons">
                                            <button><i class="fa-solid fa-pen"></i></button>
                                            <button><i class="fa-solid fa-trash-can"></i></button>
                                        </div>
                                    </div>
    
                                    <div class="title">
                                        Azərbaycanın paytaxtı haradır ?
                                    </div>
                                    <div class="options">
                                        <div class="option">
                                            <span>A)</span><p>Gəncə</p>
                                        </div>
                                        <div class="option">
                                            <span>B)</span><p>Şəki</p>
                                        </div>
                                        <div class="option">
                                            <span>C)</span><p>Bakı</p>
                                        </div>
                                        <div class="option">
                                            <span>D)</span><p>Salyan</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <!-- Scriptlərim -->

    <script>
        const tabs_buttons = document.querySelectorAll(".tabs > button")
        const base_div = document.querySelector(".tab-nav .nav .base")
        const questions_div = document.querySelector(".tab-nav .nav .questions")
        tabs_buttons.forEach(item=>{
            item.addEventListener("click", function(e){
                e.preventDefault() 
                for (const element of tabs_buttons) {
                    element.classList.remove("active")
                }
                item.classList.add("active")
                if (item.dataset.id == 1){
                    base_div.style.display = "block"
                    questions_div.style.display = "none"
                } else if(item.dataset.id == 2){
                    base_div.style.display = "none"
                    questions_div.style.display = "flex"
                }
            })
        })
    </script>
{% endblock %}