{% extends 'layout.html' %}
{% load static %}
{% load custom_filters %}

<!-- Page Title -->
{% block title %}
    <title>
        ECorner - {{exam.title}}
    </title>
{% endblock %}


<!-- Style -->
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/update-exam.min.css' %}">
{% endblock %}


{% block root %}
    <!-- Breadcrumb --> 
    <div class="breadcrumb">
        <a href="{% url 'myexams' %}"><i class="fa-solid fa-list"></i> İmtahanlarım</a>
        <span>{{exam.title|slice:"0:20"}}...</span>
    </div> 


    <div class="update-exam">
        <div class="tab-nav">
            <div class="tabs">
                <button class="active" data-id="1">Əsas məlumatlar</button>
                <button data-id="2">Suallar</button>
            </div>
            <div class="nav">
                <div class="base">
                    <h1 class="exam-title">
                        {{exam.title}}
                    </h1>
                    <p class="exam-description">
                        {{exam.description}}
                    </p>

                    <p class="tags-header"><i class="fa-solid fa-tags"></i> Etiketlər</p>
                    <div class="tags-box">
                        {% for tag in exam.tags.all %}
                            <div class="tag">
                                <span>#</span>
                                <span>{{tag.name}}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="questions">

                    <form action="{% url 'updateexam' exam.slug %}" method="post" class="deactive-form" id="addNewQuiz">
                        {% csrf_token %}
                        <div class="header">
                            <div class="left">Yeni sual əlavə et</div>
                            <div class="right">
                                <button type="button" onclick="closeCreateQuizForm(this)">
                                    <i class="fa-solid fa-times"></i>
                                </button>
                            </div>
                        </div>

                        <label for="quiz_text_title">
                            <p>Sual mətni</p> 
                            <textarea name="quiz_text_title" id="quiz_text_title"></textarea>
                        </label>

                        <div class="options">
                            <p>Variantlar</p>
                            <label for="option_a">
                                <span>A</span> 
                                <textarea name="option_a" id="option_a"></textarea>
                            </label>
                            <label for="option_b">
                                <span>B</span> 
                                <textarea name="option_b" id="option_b"></textarea>
                            </label>
                            <label for="option_c">
                                <span>C</span> 
                                <textarea name="option_c" id="option_c"></textarea>
                            </label>
                            <label for="option_d">
                                <span>D</span> 
                                <textarea name="option_d" id="option_d"></textarea>
                            </label>
                        </div>

                        <div class="correct-answer">
                            <p>Düzgün cavab seçin</p>
                            <div class="inner-container">
                                <label class="check-box" for="correct_answer_a">
                                    <input type="radio" id="correct_answer_a" name="correct_answer" value="a">
                                    <span></span>
                                    <p>A</p>
                                </label>
                                <label class="check-box" for="correct_answer_b">
                                    <input type="radio" id="correct_answer_b" name="correct_answer" value="b">
                                    <span></span>
                                    <p>B</p>
                                </label>
                                <label class="check-box" for="correct_answer_c">
                                    <input type="radio" id="correct_answer_c" name="correct_answer" value="c">
                                    <span></span>
                                    <p>C</p>
                                </label>
                                <label class="check-box" for="correct_answer_d">
                                    <input type="radio" id="correct_answer_d" name="correct_answer" value="d">
                                    <span></span>
                                    <p>D</p>
                                </label>
                            </div>
                        </div>

                        <div class="btn-group">
                            <button type="button">Ləğv et</button>
                            <button type="submit">Əlavə et</button>
                        </div>
                    </form>

                    <div class="data">
                        <div class="questions-header">
                            <div class="left">
                                <label for="all-items">
                                    <input type="checkbox" id="all-items">
                                    <span>
                                        <i class="fa-solid fa-check-double"></i>
                                    </span>
                                </label>
                                <p>
                                    Sual sayı : <em>{{quizzes_count}}</em>
                                </p>
                            </div>
                            <div class="right">
                                <button onclick="openCreateQuizForm(this)">
                                    Sual əlavə et <i class="fa-solid fa-plus"></i>
                                </button>
                                <button>
                                    Seçilənləri sil <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </div>
                        </div>
    

                        {% for quiz in quizzes %}
                            <div class="question">
                                <div class="container">
                                    <div class="left">
                                        <div class="select-btn">
                                            <div class="dots">
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                            </div>
                                        </div>
                                        <label class="select-input" for="question_id_1">
                                            <input type="checkbox" id="question_id_1">
                                            <span><i class="fa-solid fa-check"></i></span>
                                        </label>
                                    </div>
                                    <div class="right">
                                        <div class="question-header">
                                            <div class="info">
                                                <span class="number">{{forloop.counter}}</span>
                                                <span class="type">Variantlı sual</span>
                                            </div>
                                            <div class="control-buttons">
                                                <button><i class="fa-solid fa-pen"></i></button>
                                                <button><i class="fa-solid fa-trash-can"></i></button>
                                            </div>
                                        </div>
        
                                        <div class="title">
                                            {{quiz.question}}
                                        </div>
                                        <div class="options">
                                            {% for option in quiz.options.all %}
                                                <div class="option">
                                                    <span>
                                                        {% if forloop.counter == 1 %}
                                                            A)
                                                        {% elif forloop.counter == 2 %}
                                                            B)
                                                        {% elif forloop.counter == 3 %}
                                                            C)
                                                        {% elif forloop.counter == 4 %}
                                                            D)
                                                        {% endif %}
                                                    </span>
                                                    <p>
                                                        {{option.text}}
                                                        {% if option.is_correct %}
                                                            ✅
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            Salam
                        {% endfor %}
                    </div>
                    

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <!-- Scriptlərim -->

    <script>
        const tabs_buttons = document.querySelectorAll(".tabs > button")
        const base_div = document.querySelector(".tab-nav .nav .base")
        const questions_div = document.querySelector(".tab-nav .nav .questions")
        tabs_buttons.forEach(item=>{
            item.addEventListener("click", function(e){
                e.preventDefault() 
                for (const element of tabs_buttons) {
                    element.classList.remove("active")
                }
                item.classList.add("active")
                if (item.dataset.id == 1){
                    base_div.style.display = "block"
                    questions_div.style.display = "none"
                } else if(item.dataset.id == 2){
                    base_div.style.display = "none"
                    questions_div.style.display = "flex"
                }
            })
        })



        function closeCreateQuizForm(btn){
            const btn_parent_form = btn.parentElement.parentElement.parentElement; 
            btn_parent_form.classList = "deactive-form"
        }
        function openCreateQuizForm(btn){
            const btn_parent_form = btn.parentElement.parentElement.parentElement.previousElementSibling; 
            btn_parent_form.classList = "form"
        }


        document.getElementById("addNewQuiz").addEventListener("submit", async function(e){
            e.preventDefault()
            let url = e.target.getAttribute("action")
            let form_data = {
                "question": e.target.quiz_text_title.value,
                "options": [
                    e.target.option_a.value,
                    e.target.option_b.value,
                    e.target.option_c.value,
                    e.target.option_d.value
                ],
                "correct_answer": e.target.correct_answer.value
            }

            const response = await fetch(url, {
                method: "POST",

                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken"),
                },

                body: JSON.stringify(form_data)
            })

            const data = await response.json()

            if (data.success){
                let quiz_box = `
                    <div class="question">
                        <div class="container">
                            <div class="left">
                                <div class="select-btn">
                                    <div class="dots">
                                        <span class="dot"></span>
                                        <span class="dot"></span>
                                        <span class="dot"></span>
                                    </div>
                                </div>
                                <label class="select-input" for="question_id_1">
                                    <input type="checkbox" id="question_id_1">
                                    <span><i class="fa-solid fa-check"></i></span>
                                </label>
                            </div>
                            <div class="right">
                                <div class="question-header">
                                    <div class="info">
                                        <span class="number">X</span>
                                        <span class="type">Variantlı sual</span>
                                    </div>
                                    <div class="control-buttons">
                                        <button><i class="fa-solid fa-pen"></i></button>
                                        <button><i class="fa-solid fa-trash-can"></i></button>
                                    </div>
                                </div>

                                <div class="title">
                                    ${data.question}
                                </div>
                                <div class="options">
                                    {% for option in quiz.options.all %}
                                        <div class="option">
                                            <span>
                                                {% if forloop.counter == 1 %}
                                                    A)
                                                {% elif forloop.counter == 2 %}
                                                    B)
                                                {% elif forloop.counter == 3 %}
                                                    C)
                                                {% elif forloop.counter == 4 %}
                                                    D)
                                                {% endif %}
                                            </span>
                                            <p>
                                                {{option.text}}
                                                {% if option.is_correct %}
                                                    ✅
                                                {% endif %}
                                            </p>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                `
            }

        })

    </script>
{% endblock %}