{% extends 'layout.html' %}
{% load static %}



<!-- Page Title -->
{% block title %}
    <title>
        ECorner - Əlaqə
    </title>
{% endblock %}

<!-- Styles -->
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.min.css' %}">
{% endblock %}

 




{% block root %}
    <h1>Əlaqə</h1>
    

    <div class="member-login">
        <div class="logo">
            ECorner
        </div>
        <h2>Bizimlə əlaqə üçün formu doldurub, göndərin</h2>

        <form method="post">
            {% csrf_token %}
            <label for="contact_name">
                Adınızı daxil edin
            </label>
            <input type="text" name="name" onkeyup="validateUsername(this)" autocomplete="off" id="contact_name" placeholder="Adınız" value="{% if name %} {{name}} {% endif %}">
            <div class="input-alert">
                {% if name_three %} {{name_three}} {% endif %}
            </div>

            <label for="emailfield">
                Email daxil edin
            </label>
            <input type="email" name="email" onkeyup="validateEmail(this)" id="emailfield" placeholder="Email" value="{% if email %} {{email}} {% endif %}"  autocomplete="off" autocapitalize="none" autocorrect="off" spellcheck="false">
            <div class="input-alert">
                {% if fake_email %} {{fake_email}} {% endif %}
            </div>

             
            <label for="message">
                Mesajınızı daxil edin
            </label>
            <textarea name="message" id="message"></textarea>

            <div class="button-group">
                <button>Göndər</button> 
            </div>

            <!-- <div class="links">
                <a href="javascript:void(0)">İstifadə şərtləri, qaydalar və razılaşma</a>
            </div> -->
        </form>
    </div>
{% endblock %}