{% extends 'layout.html' %}
{% load static %}

<!-- Page Title -->
{% block title %}
    <title>
        ECorner - Hesabınıza daxil olun
    </title>
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.min.css' %}">
{% endblock %}


{% block root %}
    <!-- Breadcrumb --> 
    <div class="breadcrumb">
        <a href="{% url 'publicpage' %}"><i class="fa-solid fa-home"></i> Ana səhifə</a>
        <span>Hesabınıza daxil olun</span>
    </div>

    <h1>Hesabınıza daxil olun</h1>

    <div class="member-login">
        <div class="logo">
            ECorner
        </div>

        <form method="post">
            {% csrf_token %}
            <label for="username">
                İstifadəçi adınızı daxil edin
            </label>
            <input type="text" name="username" id="username" placeholder="İstifadəçi adınız" autocomplete="off" autocapitalize="none" autocorrect="off" spellcheck="false">

            <div class="input-alert"></div>

            <label for="password">
                Şifrənizi daxil edin
                <i class="fa-solid fa-eye" onclick="showPassword(this)"></i>
            </label>
            <input type="password" name="password" id="password" placeholder="* * * * * * * *">

            <div class="input-alert">
                {% if wrong_username_or_password %} {{wrong_username_or_password}} {% endif %}
            </div>

            <div class="button-group">
                <button>Daxil ol</button>
                <a href="{% url 'register' %}">Qeydiyyat</a>
            </div>

            <div class="links">
                <a href="#">Şifrəmi unutmuşam</a>
            </div>
        </form>
    </div>
{% endblock %}