{% extends 'layout.html' %}
{% load static %}

<!-- Page Title -->
{% block title %}
    <title>
        ECorner - Hesab yaradın
    </title>
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/register.min.css' %}">
{% endblock %}


{% block root %}

    <!-- Breadcrumb --> 
    <div class="breadcrumb">
        <a href="{% url 'login' %}"><i class="fa-solid fa-arrow-right-to-bracket"></i> Hesabınıza daxil olun</a>
        <span>Qeydiyyat</span>
    </div>

    <h1>Yeni hesab yaradın</h1>

    <div class="member-register">
        <div class="logo">
            ECorner
        </div>

        <form method="post">
            {% csrf_token %}
            <label for="username">
                İstifadəçi adı təyin edin
            </label>
            <input type="text" name="username" onkeyup="validateUsername(this)" autocomplete="off" autocapitalize="none" autocorrect="off" spellcheck="false" id="username" placeholder="İstifadəçi adı" value="{% if username %} {{username}} {% endif %}">
            <div class="input-alert">
                {% if username_abc %} {{username_abc}} {% endif %}
            </div>

            <label for="emailfield">
                Email daxil edin
            </label>
            <input type="email" name="email" onkeyup="validateEmail(this)" id="emailfield" placeholder="Email" value="{% if email %} {{email}} {% endif %}"  autocomplete="off" autocapitalize="none" autocorrect="off" spellcheck="false">
            <div class="input-alert">
                {% if fake_email %} {{fake_email}} {% endif %}
            </div>

            <label for="password">
                Şifrə təyin edin
                <i class="fa-solid fa-eye" onclick="showPassword(this)"></i>
            </label>
            <input type="password" name="password" onkeyup="validatePassword(this)" id="password" placeholder="* * * * * * * *">
            <div class="input-alert">
                {% if invalid_password %} {{invalid_password}} {% endif %}
            </div>

            <label for="repassword">
                Şifrəni təkrar daxil edin
                <i class="fa-solid fa-eye" onclick="showPassword(this)"></i>
            </label>
            <input type="password" name="repassword" onkeyup="validateRePassword(this)" id="repassword" placeholder="* * * * * * * *">
            <div class="input-alert">
                {% if dontmatch %} {{dontmatch}} {% endif %}
            </div>


            <div class="button-group">
                <button>Təsdiqlə</button>
                <a href="{% url 'login' %}">Hesabım var</a>
            </div>

            <div class="links">
                <a href="javascript:void(0)">İstifadə şərtləri, qaydalar və razılaşma</a>
            </div>
        </form>
    </div>
{% endblock %}