@mixin form-logo {
    width: 12rem;
    height: 8rem;
    background-color: var(--bg);
    color: var(--light);
    font-size: 2rem;
    font-weight: 600;
    line-height: 8rem;
    text-align: center;
    position: relative;
    margin-bottom: 2rem;

    &::after {
        content: '';
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: -.5rem;
        right: -.5rem;
        background-color: var(--dark);
        border-radius: 50%;

    }
}

@mixin form {
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    padding: 1rem;

    &>label {
        display: block;
        font-size: 1.6rem;
        margin-bottom: .5rem;
        margin-top: 2rem;
        color: var(--light);
    }

    &>label {
        &:nth-child(2) {
            margin-top: 0;
        }
    }




    &>label+input { 
        height: 5rem;
        padding: 0 1rem;
        font-size: 1.8rem;
        font-weight: 500;
        border: .1rem solid var(--dark);
        border-radius: .5rem;
        box-shadow: var(--dark) 0px 6px 12px -2px;
        width: 100%;
        background-color: var(--input-bg);
        color: var(--light);
        margin-bottom: 0;
    }

    .button-group {
        @extend %button-group-style;
        margin-top: 2rem;
        margin-bottom: 2rem;
        button{
            &:nth-child(1){
                background-color: var(--bg);
            }
        }
    }

    .links {
        a {
            font-size: 1.4rem;
            font-weight: 500;
            color: var(--link);
            text-decoration: underline;
        }
    }

    label[for=password],
    label[for=repassword],
    label[for=oldpassword] {
        position: relative;

        i {
            position: absolute;
            width: 3rem;
            height: 3rem;
            background-color: var(--bg);
            top: 3.5rem;
            color: var(--light);
            right: 1rem;
            border-radius: .5rem;
            @extend %button-style;
            cursor: pointer;
        }
    }

    .input-alert, .textarea-alert{
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--danger);
        margin-top: .5rem;
    }

    &>label+textarea {
        @extend %input-style-after-label;
        width: 100%;
        min-height: 15rem;
        resize: vertical;
        background-color: var(--input-bg);
        color: var(--light);
        margin-bottom: 0;
        padding: 1rem;
    }


}


@mixin form-media {
    @media only screen and (max-width: 600px) {
        form {
            .button-group {
                justify-content: space-between;
                gap: 1rem;

                button {
                    width: 50%;
                }

                a {
                    width: 50%;
                }
            }
        }
    }

    @media only screen and (max-width: 762px) {}


    @media only screen and (max-width: 1000px) {
        width: 100%; 
    }
}