@use 'extends';


.create-default-posts{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    color: var(--all-light);
    background-color: var(--dark);
    border-radius: 1rem;
    border: .1rem dashed var(--light);
    margin-bottom: 1rem;
    a{
        font-size: 1.6rem;
        padding: 1rem 1.5rem;
        background-color: var(--bg);
        border-radius: 1rem;
        box-shadow: 0 .2rem .05rem .1rem var(--all-light);
        transition: all .1s ease-in-out;
        &:hover{
            box-shadow: none;
        }
    }
}

.post-create-cards {
    margin-bottom: 5rem;

    .welcome {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        background-color: var(--main);


        .card-img {
            width: 25rem;
            height: 20rem;

            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .card-body {
            color: var(--light);

            h2 {
                font-size: 3.2rem;
                margin-bottom: 1rem;
                text-align: center;

                span {
                    color: var(--bg);
                }
            }

            p {
                font-size: 1.6rem;
                font-weight: 600;
            }

            ul {
                margin: 1rem 0;
                display: block;

                li {
                    font-size: 1.4rem;
                }
            }

            .card-footer {
                width: 25rem;
                margin: 0 auto;
                margin-top: 2rem;

                a {
                    @extend %button-style;
                    padding: 0;
                    width: 100%;
                    display: block;
                    height: 5rem;
                    line-height: 5rem;
                    font-size: 1.5rem;
                    font-weight: bolder;
                    color: var(--light);
                    background-color: var(--bg);
                }
            }
        }
    }
}

.posts-container {
    width: 100%; 
    box-shadow: 0 0 .1rem .005rem var(--dark);
    padding: 1rem;
    margin: .25rem 0;
    border-radius: 1rem;

    h3.posts-header {
        font-size: 2.4rem;
        margin-bottom: 1rem;
        color: var(--light);
    }

    .posts {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 1rem;
        

        .post {
            width: calc((100% - 2rem) / 3);
            min-width: 35rem;
            background-color: var(--post-bg);
            padding: 1rem;
            border-radius: 1rem;
            color: var(--light);

            .post-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1rem;
                padding: 1rem 1rem;

                .left {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .avatar {
                        width: 6rem;
                        height: 6rem;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: var(--all-light);
                        border-radius: 50%;

                        img {
                            width: 6rem;
                            height: 6rem;
                            object-fit: cover;
                            object-position: center;
                        }

                        img.default-img {
                            width: 4rem; 
                            height: 4rem;
                        }
                    }

                    .account-info {
                        width: calc(100% - 6rem);
                        padding: 1rem;

                        h2 {
                            font-size: 1.6rem;
                            margin-bottom: .5rem;

                            a {
                                color: var(--link);
                                text-transform: lowercase;
                            }
                        }

                        h3 {
                            font-size: 1rem;
                            font-weight: 400;
                            padding-left: 1.5rem;
                            color: var(--main-dark);
                            text-transform: capitalize;
                        }
                    }
                }

                .right {
                    .dots {
                        width: 2.3rem;
                        height: .5rem;
                        overflow: hidden;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: .4rem;
                        cursor: pointer;
                        transition: all .1s ease-in-out;

                        &:hover {
                            justify-content: center;
                            gap: .1rem;
                        }

                        span {
                            width: .5rem;
                            height: .5rem;
                            display: inline-block;
                            border-radius: 50%;
                            background-color: var(--main-dark);
                        }
                    }

                    .post-dropdown {
                        display: none;
                    }
                }
            }

            .post-body {
                background-color: var(--post-bg);
                padding: 1rem;
                border-radius: 1rem;

                .foreign-lang {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 1rem;
                    padding-bottom: 1rem;
                    border-bottom: .1rem solid var(--post-bg);

                    .flag {
                        width: 4rem;
                        height: 4rem;
                        overflow: hidden;
                        background-color: var(--light);
                        border-radius: 50%;

                        img {
                            width: 4rem;
                            object-fit: cover;
                            object-position: center;
                            transform: scale(1.5);
                        }
                    }

                    .content {
                        width: calc(100% - 4rem);

                        .lang {
                            font-size: 1.2rem;
                            text-transform: uppercase;
                            color: var(--main-dark);
                        }

                        .sentence {
                            font-size: 1.6rem;
                            color: var(--light);
                            font-weight: 600;
                        }
                    }

                }

                .description {
                    padding-top: 1rem;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 1rem;

                    .flag {
                        width: 4rem;
                        height: 4rem;
                        overflow: hidden;
                        background-color: var(--light);
                        border-radius: 50%;

                        img {
                            width: 4rem;
                            object-fit: cover;
                            object-position: center;
                            transform: scale(1.5);
                        }
                    }

                    .content {
                        width: calc(100% - 5rem);

                        .lang {
                            font-size: 1.2rem;
                            text-transform: uppercase;
                        }

                        .sentence {
                            font-size: 1.4rem;
                            color: var(--light);
                            font-weight: 600;
                        }
                    }
                }
            }

            .like-created {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;
                overflow-y: hidden;

                .like {
                    line-height: 5rem;
                    text-align: center;

                    i {
                        margin-right: .1rem;
                        font-size: 2rem;
                        cursor: pointer;
                        color: var(--danger);
                    }

                    i.fa-solid {
                        cursor: default;
                    }

                    span {
                        font-size: 1.2rem;
                    }
                }

                .dot {
                    width: .5rem;
                    height: .5rem;
                    background-color: var(--main-dark);
                    border-radius: 50%;
                }

                .created {
                    font-size: 1.2rem;
                    color: var(--main-dark);
                }
            }

            .btn-group {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                a,
                button {
                    background-color: var(--post-bg);
                    color: var(--main-dark);
                    font-size: 1.6rem;
                    height: 5rem;
                    text-transform: capitalize;
                    border-radius: 1rem;
                    padding: 0 1rem;
                    min-width: calc((100% - 2rem) / 3);
                    text-align: center;
                    font-weight: bold;
                    line-height: 5rem;

                    i {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}



@media only screen and (max-width: 1150px) {
    .posts-container {
        .posts {

            .post {
                width: calc((100% - 1rem) / 2);
                min-width: 35rem;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .posts-container { 
        padding: 0;
        h3.posts-header {
            font-size: 1.6rem; 
        }

        .posts {
            .post {
                width: 100%;
            }
        }
    }
}