@use "extends";

.exam-limited-pano {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;

    .container {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        width: calc(100% - 26rem);
        background-color: var(--dark);
        border-radius: 1rem; 

        .questions {
            width: 100%;
            overflow-y: hidden;

            .question { 
                display: none;
            }

            .question.active {
                color: var(--light);
                display: block;
                padding: 2rem;
                width: 100%;

                .title {
                    display: block;
                    font-size: 1.4rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                    padding-bottom: 2rem;
                    border-bottom: .1rem solid var(--input-bg);
                    width: 100%;

                    span {
                        display: block;
                        margin-bottom: 1rem;
                        font-size: 2rem;

                        em {
                            color: var(--badge);
                        }
                    }

                    p {
                        font-size: 1.4rem;
                        font-weight: bold;
                    }
                }

                .options {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: flex-end;
                    gap: 1rem;
                    width: 100%;

                    .option {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 1rem;
                        cursor: pointer;
                        width: 100%;
                        border: .2rem solid var(--input-bg);
                        border-radius: 1rem;
                        padding: 1rem;

                        input {
                            display: none;

                            &:checked+span {
                                background-color: var(--star);
                                box-shadow: inset 0 .3rem .5rem rgba(0, 0, 0, .4);
                            }
                        }

                        &:hover span {
                            background-color: var(--star);
                        }

                        span {
                            width: 3rem;
                            height: 3rem;
                            border-radius: 1rem;
                            font-size: 1.2rem;
                            font-weight: 600;
                            background-color: var(--badge);
                            color: var(--dark);
                            text-align: center;
                            line-height: 3rem;
                            transition: all .1s ease-in;
                            box-shadow: inset 0 .1rem 0 hsla(0, 0%, 100%, .15), inset 0 -0.25rem 0 rgba(0, 0, 0, .35);

                        }

                        p {
                            width: calc(100% - 5rem);
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            .footer {
                width: 100%;
                height: 6rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
                border-top: .1rem dashed var(--main-dark);

                button {
                    @extend %button-style;

                    &:nth-child(1) {
                        &:hover {
                            background-color: var(--star);
                            color: var(--dark);
                        }
                    }

                    &:nth-child(2) {
                        &:hover {
                            background-color: var(--badge);
                            color: var(--all-light);
                        }
                    }
                }
            }
        }
    }

    .right-side {
        width: 25rem;
        background-color: var(--dark);
        border-radius: 1rem;
        padding: 1rem;
        color: var(--light);

        .question-navigation {
            p.navigation-title {
                font-size: 1.4rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            ul.questions-menu {
                display: flex;
                justify-content: flex-start;
                align-items: stretch;
                flex-wrap: wrap;
                gap: 1rem;

                li {
                    width: 3rem;
                    height: 3rem;
                    text-align: center;
                    border: .2rem solid var(--light);
                    line-height: 2.6rem;
                    background-color: var(--main-dark);
                    border-radius: 1rem;
                    cursor: pointer;
                    transition: all .1s ease-in;
                    box-shadow: inset 0 .1rem 0 hsla(0, 0%, 100%, .15), inset 0 -0.25rem 0 rgba(0, 0, 0, .35);


                    span {
                        font-size: 1.2rem;
                        font-weight: 600;
                        color: var(--dark);
                        transition: all .1s ease-in;
                    }

                    &:hover {
                        background-color: var(--dark);

                        span {
                            color: var(--light);
                        }
                    }
                }

                li.active {
                    border-color: var(--success);
                    background-color: var(--success);

                    span {
                        color: var(--all-light);
                    }
                }

                li.completed {
                    border-color: var(--star);
                    background-color: var(--star);

                    span {
                        color: var(--all-dark);
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 1000px) {
    .exam-limited-pano { 
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column-reverse;

        .container {
            width: 100%; 
            
        }

        .right-side {
            width: 100%;  
        }
    }
}