@use "_extends";

#root {
    width: 100%;
    min-height: 100dvh;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &>div {
        &:nth-child(1) {
            width: 25rem;
            height: 100vh;
            height: 100dvh;
            overflow: hidden;
            background-color: var(--dark);
            position: fixed;
            top: 0;
            bottom: 0;
            display: none;

            #logo {
                width: 100%;
                height: 6rem;
                background-color: var(--light-bg);
                text-align: center;
                font-size: 3.2rem;
                line-height: 6rem;
                color: var(--light);
                border-left: 1rem solid var(--bg);
                span{
                    &:nth-child(1){
                        color: var(--all-dark);
                    }
                    &:nth-child(1){
                        color: var(--all-light);
                    }
                }
                i {
                    display: none;
                }
            }

            .carpet {
                display: none;
            }

            .menu {
                width: 100%;
                height: calc(100% - 6rem);
                padding: 1rem;

                a {
                    display: block;
                    width: 100%;
                    @extend %button-style;
                    margin-bottom: .5rem;
                    text-align: left;
                    padding-left: 1.2rem;

                    i {
                        margin-right: .5rem;
                    }
                }
                .theme-change{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 5rem;
                    background-color: var(--input-bg);
                    color: var(--light);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.4rem;
                    font-weight: bold;
                    gap: 1rem;
                }

                .line{
                    width: 70%;
                    height: .3rem;
                    background-color: var(--main-dark);
                    border-radius: 50%; 
                    opacity: .3;
                    margin: 2.5rem auto 1rem auto;
                }
                .for-staffs{
                    font-size: 1.2rem;
                    font-weight: 600;
                    margin-top: 2rem;
                    margin-bottom: 1rem;
                    text-transform: uppercase;
                    color: var(--light);
                }
            }
        }

        &:nth-child(2) {
            width: 100%;
            min-height: 100vh;
            margin-left: 0;
            transition: all .1s ease; 

            nav {
                width: 100%;
                height: 6rem;
                background-color: var(--dark);
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 1rem;
                position: sticky;
                top: 0;
                z-index: 8;

                .links {
                    display: flex;
                    gap: 2rem; 

                    &>span {
                        @extend %button-style;
                        cursor: pointer;
                    }

                    .mobile-toggle-sidebar {
                        @extend %button-style;
                        cursor: pointer;
                        display: none;
                    }
                    #notify{
                        @extend %button-style;
                        position: relative;
                        background-color: var(--bg);
                        color: var(--all-light);
                        cursor: pointer;
                        span{
                            width: 1rem;
                            height: 1rem;
                            border-radius: 50%;
                            background-color: var(--star);
                            position: absolute;
                            top: -.5rem;
                            right: -.5rem;
                            display: none;
                        }
                    }
                }

                .profile {
                    position: relative;

                    span,
                    a {
                        @extend %button-style;
                        cursor: pointer;
                    }

                    .dropdown-menu {
                        position: absolute;
                        border-top-left-radius: 1.5rem;
                        border-bottom-left-radius: 1.5rem;
                        border-bottom-right-radius: 1.5rem;
                        border: .1rem solid var(--dark);
                        top: calc(100% + 1rem);
                        right: 0;
                        width: 20rem;
                        padding: 1rem;
                        background-color: var(--btn-bg);
                        display: none;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        gap: .5rem;
                        z-index: 8;

                        a {
                            width: 100%;
                            @extend %button-style;
                            text-align: left;
                            padding-left: 1.2rem;

                            i {
                                margin-right: .2rem;
                            }
                        }
                    }
                }
            }

            #xp-level{
                display: flex;
                justify-content: flex-end; 
                padding: .3rem .5rem;
                position: sticky;
                top: 6rem; 
                z-index: 7; 
                .container{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: .2rem;
                    p{ 
                        font-size: 1rem; 
                        padding: .1rem 1rem;
                        border-radius: .5rem;
                        text-transform: uppercase;
                        border: .1rem dashed var(--main);
                        box-shadow:
                            inset 0 .1rem 0 rgba(255, 255, 255, .15),
                            inset 0 -.25rem 0 rgba(0, 0, 0, .35);
                        span{
                            font-weight: 600;
                            font-size: 1.4rem;
                        }
                        &:nth-child(1){
                            background-color: var(--star); 
                            color: var(--all-dark);
                        }
                        &:nth-child(2){
                            background-color: var(--badge); 
                            color: var(--all-light);
                        }
                    }
                }
            }

            main {
                display: block;
                width: 100%;
                min-height: calc(100dvh - 12rem);
                padding: 1.25rem;
                background-color: var(--main);

                .breadcrumb {
                    width: 100%;
                    height: 5rem;
                    background-color: var(--dark);
                    margin-bottom: 2rem;
                    overflow: hidden;
                    font-size: 1.2rem;
                    color: var(--light);
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 2rem;
                    padding: 0 2rem;
                    border-radius: 1rem;
                    box-shadow: var(--input-bg) 0 .2rem 0 .1rem;

                    a, span {
                        position: relative;

                        &:not(:last-child) {
                            color: var(--link);
                            &::after {
                                content:">";
                                font-size: 1rem;
                                color: var(--main-dark);
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: -1.3rem;
                            }
                        }
                    }
                }
 
                &>h3, &>h1{
                    font-size: 1.8rem;
                    margin-bottom: 1rem;
                    color: var(--light);
                }
            }
        }
    }
}




// Main panelin responsivi footer ve 100vh ucun
@media only screen and (max-width: 762px) {
    #root {
        &>div {
            &:nth-child(1) {
                display: block;
                left: -25rem;
                z-index: 9;
                transition: all .1s ease;

                #logo {
                    text-align: left;
                    padding-left: 1rem;
                    position: relative;

                    i {
                        display: inline-block;
                        width: 3rem;
                        height: 3rem;
                        line-height: 3rem;
                        text-align: center;
                        background-color: var(--light);
                        color: var(--bg);
                        border-radius: .5rem;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        font-size: 1.4rem;
                        font-weight: 600;
                        transform: translate(-50%, -50%);
                        box-shadow:
                            inset 0 .1rem 0 rgba(255, 255, 255, .15),
                            inset 0 -.5rem 0 rgba(0, 0, 0, .35);

                        &:active {
                            transform: translate(-51%, -51%);

                            box-shadow:
                                inset 0 .3rem .5rem rgba(0, 0, 0, .4);
                        }

                        border: .1rem solid var(--dark);
                    }
                }

                .carpet {
                    display: block;
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    right: -200%;
                    width: calc(100% - 25rem);
                    height: 100vh;
                    background-color: var(--dark);
                    z-index: 9;
                    opacity: 0.5;
                    transition: all .1s ease;

                }
            }

            &:nth-child(2) {
                nav {
                    .links {
                        span {
                            display: none;
                        }

                        .mobile-toggle-sidebar {
                            display: inline-block;
                        }
                    }
                }

                main {
                    min-height: calc(100vh - 14rem);
                }
            }
        }
    }
}