.notifications{
    border-radius: 3rem;
    overflow: hidden;
    padding: 3rem 1rem;
    background-color: var(--post-bg);

    .notification{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem; 
        color: var(--light);
        border-bottom: .1rem solid var(--post-bg);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
         
        .notification-body{
            width: calc(100% - 11rem);
            .title{
                font-size: 1.6rem;
                font-weight: 600;
                margin-bottom: .5rem;
            }
            .message{
                font-size: 1.4rem;
                .links{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: .5rem;
                    gap: 1rem;
                    a{
                        background-color: var(--bg);
                        padding: .3rem .5rem;
                        font-size: 1.2rem;
                        color: var(--all-light); 
                        border-radius: .5rem;
                        box-shadow: .3rem 0 0 .1rem var(--light);
                        display: inline-block;
                    }
                }
            }
            .check_as_read{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: .3rem;
                font-size: 1.2rem;
                font-weight: 500;
                margin-top: .75rem;
                cursor: pointer;
                i{
                    width: 2rem;
                    height: 2rem;
                    font-size: 1rem;
                    border-radius: 50%;
                    border: .1rem solid var(--light);
                    line-height: 1.8rem; 
                    background-color: var(--badge);
                } 

                &:hover{
                    opacity: .75;
                }
            }
            .checked_as_read{
                cursor: default;
                &:hover{
                    opacity: 1;
                }
                i{
                    background-color: var(--dark);
                }
            }
        }
        .created_at{
            width: 10rem;
            font-size: 1.1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            span{
                width: 1rem;
                height: .8rem;
                border-radius: 50%;
                background-color: var(--badge);
                display: inline-block;

            }
        }
    }
}

@media only screen and (max-width: 800px){
    .notifications{
    border-radius: 3rem;
    overflow: hidden;
    padding: 3rem 1rem;
    background-color: var(--post-bg);

    .notification{ 
        
        .notification-body{
            width: calc(100% - 10rem);
            .title{
                font-size: 1.4rem; 
            }
            .message{
                font-size: 1.2rem;
            }
        }
        .created_at{
            width: 9rem;
            font-size: 1rem;
        }
    }
}
}