@use 'extends';

form.post-create {
    display: block;
    max-width: 40rem;
    padding: 1rem 0;
    margin: 0 auto;

    .foreign-lang {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        gap: 2rem;
        width: 100%;

        label {
            width: 12rem;
            height: 6rem;
            border-radius: 1rem;
            background-color: var(--dark);
            position: relative;
            border: .2rem solid var(--link);
            cursor: pointer;
            color: var(--light);

            input {
                display: none;

                &:checked+span {
                    &:after {
                        position: absolute;
                        content: "";
                        width: 1rem;
                        height: 1rem;
                        background-color: var(--dark);
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                    }
                }
            }

            p {
                font-size: 1.6rem;
                position: absolute;
                top: .5rem;
                left: .5rem;
            }

            .checker {
                position: absolute;
                top: .5rem;
                right: .5rem;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                background-color: var(--link);
                border: .3rem solid var(--light);
            }

            .price {
                position: absolute;
                bottom: .5rem;
                right: .5rem;
                font-size: 1.4rem;
                font-weight: 600;

                i {
                    color: var(--star);
                }
            }
        }
    }

    .sentence {
        display: block;
        margin: 2rem 0;
        width: 100%;
        position: relative;
        margin-bottom: 4rem;


        p {
            font-size: 1.6rem;
            color: var(--light);
        }

        textarea {
            width: 100%;
            padding: 1rem;
            min-height: 6.6rem;
            resize: none;
            border: .1rem solid var(--dark);
            border-radius: .5rem;
            background-color: var(--input-bg);
            color: var(--light);
            box-shadow: var(--dark) 0px 6px 12px -2px;
        }

        .counter {
            position: absolute;
            bottom: -.3rem;
            width: 100%;
            height: .4rem;
            background-color: var(--light);

            span {
                display: block;
                width: 0%;
                height: .4rem;
                background-color: var(--input-bg);
            }
        }
    }

    .description {
        display: block;
        width: 100%;
        margin-bottom: 2rem;

        p {
            font-size: 1.6rem;
            color: var(--light);
        }

        textarea {
            width: 100%;
            padding: 1rem;
            min-height: 8rem;
            resize: none;
            border: .1rem solid var(--dark);
            border-radius: .5rem;
            background-color: var(--input-bg);
            color: var(--light);
            box-shadow: var(--dark) 0px 6px 12px -2px;

        }
    }

    button {
        @extend %button-style;
        background-color: var(--bg);
        width: 100%;
        height: 5rem;
    }
}


.table {
    width: 100%;
    border: .1rem solid var(--light);
    border-radius: 1rem;
    padding: 1rem;


    .header {
        width: 100%;
        color: var(--light);
        h2 {
            font-size: 1.4rem;
            font-weight: 500;
            width: 100%;
        }
    }

    .no-content {
        display: block;
        width: 100%;
        color: var(--danger);
        margin-top: 2rem;
        font-size: 16px;
    }

    .elements {
        margin: 2rem 0;
        width: 100%;
        border: .1rem dotted var(--light);
        border-bottom: none;
        border-right: none;
        overflow-x: hidden;

        .row {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            border-bottom: .1rem dotted var(--light);

            // Header Row
            &:nth-child(1) {
                .col {
                    font-weight: 600;
                    font-size: 1.4rem;
                }
            }

            .col {
                width: calc((100% - 46rem) / 2);
                border-right: .1rem dotted var(--light);
                line-height: 3rem;
                padding: .3rem .5rem;
                font-size: 1.4rem;
                color: var(--light);

                &:nth-child(1) {
                    width: 5rem;
                    min-height: 3rem;
                    font-weight: 600;
                    font-size: 1.4rem;
                }

                &:nth-child(2) {
                    width: 10rem;
                }

                &:nth-child(3) {
                    width: 7rem;

                    img {
                        width: 4rem;
                        object-fit: contain;
                        margin: 0 auto;
                        display: block;
                    }
                }

                &:nth-child(4) {
                    overflow-x: hidden;
                    position: relative;

                    a {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 1.5rem;
                        height: 1.5rem;
                        font-size: 1rem;
                        line-height: 1.5rem;
                        text-align: center;
                        color: var(--light);
                        z-index: 1;

                        &:hover {
                            color: var(--link);
                        }
                    }



                    &::after {
                        content: "";
                        position: absolute;
                        width: 3rem;
                        height: calc(100% - .2rem);
                        z-index: 0;
                        top: .1rem;
                        right: .2rem;
                        bottom: .1rem;
                        background-color: var(--main);

                    }
                }

                &:nth-child(6),
                &:nth-child(7) {
                    width: 12rem;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }
            }

            .settings-buttons {
                a {
                    @extend %button-style;
                    font-size: 1.2rem;
                    font-weight: 600;
                    padding: .3rem;

                    &:nth-child(1) {
                        background-color: orangered;
                    }

                    &:nth-child(2) {
                        background-color: red;
                    }
                }
            }

        }
    }
}


@media only screen and (max-width: 405px) {
    form.post-create {
        .foreign-lang {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1rem;

            label {
                width: 100%;
            }
        }
    }
}