.post-detail {
    max-width: 70rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 3rem;
    background-color: var(--main);

    .post {
        width: 100%;
        background-color: var(--post-bg);
        padding: 1rem;
        border-radius: 1rem;
        color: var(--light);

        .post-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
            padding: 1rem 1rem;

            .left {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .avatar {
                    width: 6rem;
                    height: 6rem;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--main);
                    border-radius: 50%;

                    img {
                        width: 6rem;
                        height: 6rem;
                        object-fit: cover;
                        object-position: center;
                    }

                    img.default-img {
                        width: 4rem;
                        filter: drop-shadow(0 0 .1rem var(--light));
                        height: 4rem;
                    }
                }

                .account-info {
                    width: calc(100% - 6rem);
                    padding: 1rem;

                    h2 {
                        font-size: 1.6rem;
                        margin-bottom: .5rem;

                        a {
                            color: var(--link);
                            text-transform: lowercase;
                        }
                    }

                    h3 {
                        font-size: 1rem;
                        font-weight: 400;
                        padding-left: 1.5rem;
                        color: var(--main-dark);
                        text-transform: capitalize;
                    }
                }
            }

            .right {
                .dots {
                    width: 2.3rem;
                    height: .5rem;
                    overflow: hidden;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: .4rem;
                    cursor: pointer;
                    transition: all .1s ease-in-out;

                    &:hover {
                        justify-content: center;
                        gap: .1rem;
                    }

                    span {
                        width: .5rem;
                        height: .5rem;
                        display: inline-block;
                        border-radius: 50%;
                        background-color: var(--main-dark);
                    }
                }

                .post-dropdown {
                    display: none;
                }
            }
        }

        .post-body {
            background-color: var(--post-bg);
            padding: 1rem;
            border-radius: 1rem;

            .foreign-lang {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 1rem;
                padding-bottom: 1rem;
                border-bottom: .1rem solid var(--post-bg);

                .flag {
                    width: 4rem;
                    height: 4rem;
                    overflow: hidden;
                    background-color: var(--light);
                    border-radius: 50%;

                    img {
                        width: 4rem;
                        object-fit: cover;
                        object-position: center;
                        transform: scale(1.5);
                    }
                }

                .content {
                    width: calc(100% - 5rem);

                    .lang {
                        font-size: 1.2rem;
                        text-transform: uppercase;
                        color: var(--main-dark);
                    }

                    .sentence {
                        font-size: 1.6rem;
                        color: var(--light);
                        font-weight: 600;
                    }
                }

            }

            .description {
                padding-top: 1rem;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 1rem;

                .flag {
                    width: 4rem;
                    height: 4rem;
                    overflow: hidden;
                    background-color: var(--light);
                    border-radius: 50%;

                    img {
                        width: 4rem;
                        object-fit: cover;
                        object-position: center;
                        transform: scale(1.5);
                    }
                }

                .content {
                    width: calc(100% - 5rem);

                    .lang {
                        font-size: 1.2rem;
                        text-transform: uppercase;
                        color: var(--main-dark);
                    }

                    .sentence {
                        font-size: 1.4rem;
                        color: var(--light);
                        font-weight: 600;
                        white-space: pre-line;
                    }
                }
            }
        }

        .like-created {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            overflow-y: hidden;

            .like {
                line-height: 5rem;
                text-align: center;

                i {
                    margin-right: .1rem;
                    font-size: 2rem;
                    cursor: pointer;
                    color: var(--danger);
                }

                i.fa-solid {
                    cursor: default;
                }

                span {
                    font-size: 1.2rem;
                }
            }

            .dot {
                width: .5rem;
                height: .5rem;
                background-color: var(--main-dark);
                border-radius: 50%;
            }

            .created {
                font-size: 1.2rem;
                color: var(--main-dark);
            }
        }

        .btn-group {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            a,
            button {
                display: inline-block;
                background-color: var(--post-bg);
                color: var(--main-dark);
                font-size: 1.6rem;
                height: 5rem;
                text-transform: capitalize;
                border-radius: 1rem;
                padding: 0 1rem;
                min-width: calc((100% - 2rem) / 3);
                text-align: center;
                font-weight: bold;
                line-height: 5rem;

                i {
                    font-size: 2rem;
                }
            }
        }
    }
}

@media only screen and (max-width:750px) {
    .post-detail { 
        padding: .5rem;  
        .post { 
            .post-body {
                padding: .5rem; 
                .foreign-lang { 
                    gap: .5rem;
                    .flag {
                        width: 3rem;
                        height: 3rem; 
                        img {
                            width: 3rem;
                        }
                    } 
                    .content {
                        width: calc(100% - 3.5rem); 
                        .sentence {
                            font-size: 1.4rem; 
                        }
                    }
                } 
                .description {
                    gap: .5rem; 
                    .flag {
                        width: 3rem;
                        height: 3rem;
                        img {
                            width: 3rem;
                        }
                    }
                    .content {
                        width: calc(100% - 3.5rem); 
                        .sentence {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}