@use "_extends";

.cards {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;

    .card {
        width: 20rem;
        background-color: var(--main);
        overflow: hidden;
        padding: .3rem;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .avatar {
            width: 4rem;
            margin-bottom: 1rem;

            img {
                width: 4rem;
                aspect-ratio: 1/1;
            }
        }

        .card-body {
            h3 {
                font-size: 1.8rem;
                text-align: center;
                margin-bottom: .7rem;
            }

            p {
                font-size: 1.6rem;
                text-align: center;
            }
        }

        .card-footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1rem 0;
            width: 60%;

            a {
                @extend %button-style;

                width: 100%;
            }

        }
    }
}

.create-quiz-with-options{
    width: 50%;
    form {
        background-color: var(--light);
        display: flex;
        flex-direction: column;
        padding: 2rem;
    
        &>label {
            display: block;
            font-size: 1.6rem;
            margin-bottom: .5rem;
            margin-top: 2rem;
        }
    
        &>label {
            &:nth-child(2) {
                margin-top: 0;
            }
        }
    
    
    
    
        &>label+input {
            @extend %input-style-after-label;
            width: 100%;
            background-color: var(--light);
            margin-bottom: 0;
        }
    
        .button-group {
            @extend %button-group-style;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    
        .links {
            a {
                font-size: 1.4rem;
                font-weight: 500;
                color: royalblue;
                text-decoration: underline;
            }
        }
    
        label[for=password],
        label[for=repassword] {
            position: relative;
    
            i {
                position: absolute;
                width: 3rem;
                height: 3rem;
                background-color: var(--main);
                top: 3.5rem;
                color: var(--dark);
                right: 1rem;
                border-radius: .5rem;
                @extend %button-style;
                cursor: pointer;
            }
        }
    
        .input-alert {
            font-size: 1.4rem;
            font-weight: 500;
            color: red;
            margin-top: .5rem;
        }
    
    
    }
}