@use "_extends";

.sentence-builder {
    position: relative;
    overflow-x: hidden;

    &>h1 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        color: var(--light);
    }

    &>h1+p {
        font-size: 1.2rem;
        color: var(--main-dark);
        margin-bottom: 2rem;

        a {
            color: var(--link);
        }
    }

    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-bottom: 3rem;

        button {
            @extend %button-style;
            width: 5rem;
            height: 5rem;
            font-size: 1.6rem;
            color: var(--all-light);

            &:nth-child(1) {
                background-color: var(--danger);
            }

            &:nth-child(2) {
                background-color: var(--link);
            }

            &:nth-child(3) {
                background-color: var(--all-light);
                color: var(--all-dark);
            }
        }
    }

    .modal {
        position: absolute;
        top: 0;
        left: -5%;
        bottom: 0;
        right: -5%;
        width: 110%;
        height: 100%;
        background-color: var(--input-bg);
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: var(--light);
        font-size: 1.4rem;
        text-align: center;
        z-index: 5;

        p {
            max-width: 80%;
            margin: 0 auto;
        }

        span.hr {
            display: block;
            width: 100%;
            margin: 1rem 0;
            height: .1rem;
            background-color: var(--main-dark);
        }

        i {
            @extend %button-style;
            position: absolute;
            top: 2rem;
            right: calc(5% + 2rem);
            width: 4rem;
            height: 4rem;
            font-size: 1.4rem;
            line-height: 3rem;
            background-color: var(--danger);
            color: var(--all-light);
            cursor: pointer;
        }
    }

    .btns {
        display: flex;
        width: 100%;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 2rem;

        button {
            @extend %button-style;
            background-color: var(--star);
            color: var(--dark);

            &:disabled {
                background-color: var(--btn-bg);
                color: var(--light);
            }
        }
    }

    .game-title {
        text-align: center;
        font-size: 1.4rem;
        color: var(--light);
        margin-bottom: 3rem;

        span {
            color: var(--danger);
        }

        p {
            margin: 1rem 0;
            font-size: 1.2rem;
            color: var(--danger);
            width: 100%;
            text-align: center;
            display: block;
        }
    }


    .box {
        width: 100%;
        min-height: 5.2rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 1rem;
        border-radius: 1rem;
        gap: .5rem;
        background-color: var(--input-bg);

        button {
            @extend %button-style;
            background-color: var(--bg);
            color: var(--all-light);

            &:disabled {
                &:hover {
                    cursor: default;
                }

                &:active {
                    transform: none;
                    box-shadow: none;
                }
            }
        }
    }

    .check {
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            @extend %button-style;
            width: 25rem;
            height: 6rem;
            background-color: var(--bg);
            color: var(--all-light);
            &:disabled{
                background-color: var(--danger);
            }
        }
    }
}