.alert{
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem;
    line-height: 180%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    position: relative;
    &>span{
        position: absolute;
        width: 2rem;
        height: 2rem;
        font-size: 1.4rem;
        font-weight: 600;
        top: 50%;
        right: 1rem;
        transform: translate(-50%, -50%);
        color: var(--light);
        background-color: var(--dark);
        line-height: 2rem;
        cursor: pointer;
        transition: all .1s ease;
        border-radius: .5rem;
        &:hover{
            opacity: .75;
        }
    }
}

.alert-success{
    background-color: var(--light-bg);
    color: var(--light);
}