{% extends 'layout.html' %}
{% load static %}
{% load tz %}

<!-- TimeZone -->
{% now "Y-m-d" as today %}
{% now "Y-m-d" as now_date %}

<!-- Page Title -->
{% block title %}
    <title>
        ECorner - Hesabım
    </title>
{% endblock %}


<!-- Style -->
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/account.min.css' %}">
{% endblock %}

{% block root %}
    <h1>Hesabım</h1>

    <div class="user-profile">
        <div class="avatar">
            {% if account.avatar %}
                <img src="{{account.avatar.url}}" alt="avatar" id="avatar" draggable="false">
            {% else %}
                <img src="{% static 'images/default-avatar.png' %}" draggable="false" alt="avatar" id="default-avatar">
            {% endif %}

            <div class="expand">
                <i class="fa-solid fa-expand"></i>
            </div>

            <form action="{% url 'changemyavatar' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" onchange="changeUserProfile(this)" name="avatar" id="change-user-profile" accept="image/*">
                <label for="change-user-profile">
                    <i class="fa-regular fa-pen-to-square"></i>
                </label>
            </form>
        </div>
        <div class="fullname">
            Şükürov Müşviq
        </div>
        <div class="profession">
            PCAP sertifikatına sahib Jr Python developer
        </div>
        <div class="props">
            <div class="prop">
                <i class="fa-brands fa-buffer"></i>
                <p>
                    34 post
                </p>
            </div>
             <div class="prop">
                <i class="fa-solid fa-web-awesome"></i>
                <p>level 5</p>
             </div>
            <div class="prop">
                <i class="fa-solid fa-star"></i>
                <p>
                    99,890 xal
                </p>
            </div>
        </div>
        <div class="follows">
            <p>34 <a href="#">İzləyən</a></p>
            <p>5 <a href="#">İzlədiyim</a></p>
        </div>
    </div>


    <div class="my-account">
        <div class="left">
            <div class="avatar">
                <h3>Profil şəkli</h3>
                <img src="{% static 'images/default-avatar.png' %}" alt="avatar" draggable="false">
            
                <div class="statistic">
                    <div>
                        <span>0</span> İzləyən
                    </div>
                    <div class="line">|</div>
                    <div>
                        <span>0</span> İzlədiyim
                    </div>
                </div>

            </div>
            <div class="info">
                <h3><b>İstifadəçi adı</b> <span>{{user.username}}</span></h3>
                <h3><b>E-mail</b> <span>{{user.email}}</span></h3>
                <h3>
                    <b>Son giriş</b>
                    <span>
                        {% if user.last_login|date:"Y-m-d" == today %}
                            Bu gün
                        {% elif user.last_login|date:"Y-m-d" == yesterday %}
                            Dünən
                        {% else %}
                            {{ user.last_login|date:"d.m.Y" }}
                        {% endif %}
                    </span>
                </h3>
                <h3>
                    <b>Hesab yaradılıb</b>
                    <span>
                        {{ user.date_joined|date:"d.m.Y" }}
                    </span>
                </h3>
            </div>
        </div>
        <div class="right">
            <div class="quick-links">
                <h3>Keçidlər</h3>
                <a href="{% url 'changemypassword' %}">Şifrəmi dəyiş</a>
                <a href="#">İstifadəçi adımı dəyiş</a>
            </div>
            <div class="my-score">
                Topladığım Xal : <span>{{account.xp}}</span> <i class="fa-solid fa-star"></i>
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/user-profile.js' %}"></script>
{% endblock %}