{% extends 'layout.html' %}
{% load static %}

<!-- Page Title -->
{% block title %}
    <title>
        ECorner - Hesabım
    </title>
{% endblock %}


<!-- Style -->
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/account.min.css' %}">
{% endblock %}

{% block root %}
    <h1>Hesabım</h1>
    <div class="user-profile">
        {% if account.avatar %}
            <div class="avatar-max">
                <img src="" alt="avatar" draggable="false">
                <i class="fa-solid fa-times" onclick="closeAvatar(this)"></i>
            </div>
        {% endif %}
        <div class="avatar" data-default="{% static 'images/default-avatar.png' %}">
            {% if account.avatar %}
                <img src="{{account.avatar.url}}" alt="avatar" id="avatar" draggable="false">
            {% else %}
                <img src="{% static 'images/default-avatar.png' %}" draggable="false" alt="avatar" id="default-avatar">
            {% endif %}

            {% if account.avatar %}
                <div class="expand" onclick="expandAvatar(this)">
                    <i class="fa-solid fa-expand"></i>
                </div>
                <div class="delete-avatar" onclick="deleteUserProfile(this)" data-url="{% url 'deletemyavatar' %}" >
                    <i class="fa-solid fa-trash"></i>
                </div>
            {% endif %}


            <form action="{% url 'changemyavatar' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" onchange="changeUserProfile(this)" name="avatar" id="change-user-profile" accept="image/*">
                <label for="change-user-profile">
                    <i class="fa-regular fa-pen-to-square"></i>
                </label>
            </form>
        </div>
        <div class="fullname">
            Şükürov Müşviq
        </div>
        <div class="profession">
            PCAP sertifikatına sahib Jr Python developer
        </div>
        <div class="props">
            <div class="prop">
                <i class="fa-brands fa-buffer"></i>
                <p>
                    {{post_count}} post
                </p>
            </div>
             <div class="prop">
                <i class="fa-solid fa-web-awesome"></i>
                <p>level {{account.level}}</p>
             </div>
            <div class="prop">
                <i class="fa-solid fa-star"></i>
                <p>
                    {{account.xp}} xal
                </p>
            </div>
        </div>
        <div class="follows">
            <p>34 <a href="#">İzləyən</a></p>
            <p>5 <a href="#">İzlədiyim</a></p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/user-profile.js' %}"></script>
{% endblock %}