{% extends 'layout.html' %}
{% load static %}

<!-- Page Title -->
{% block title %}
    <title>
        ECorner - Şifrəmi dəyiş
    </title>
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.min.css' %}">
{% endblock %}


{% block root %}
    <h1>Şifrəmi dəyiş</h1>

    <div class="member-login">
        <div class="logo">
            ECorner
        </div>

        <form method="post">
            {% csrf_token %}

            <label for="oldpassword">
                Mövcud şifrənizi daxil edin
                <i class="fa-solid fa-eye" onclick="showPassword(this)"></i>
            </label>
            <input type="password" name="old_password" id="oldpassword" placeholder="* * * * * * * *">
            <div class="input-alert"></div>

            <label for="password">
                Yeni şifrə daxil edin
                <i class="fa-solid fa-eye" onclick="showPassword(this)"></i>
            </label>
            <input type="password" name="password" onkeyup="validatePassword(this)" id="password" placeholder="* * * * * * * *">
            
            <div class="input-alert">
                {% if invalid_password %} {{invalid_password}} {% endif %}
            </div>

            <label for="repassword">
                Yeni şifrəni təkrar daxil edin
                <i class="fa-solid fa-eye" onclick="showPassword(this)"></i>
            </label>
            <input type="password" name="repassword" onkeyup="validateRePassword(this)" id="repassword" placeholder="* * * * * * * *">
            <div class="input-alert">
                {% if dontmatch %} {{dontmatch}} {% endif %}
                {% if errors %}
                    {% for e in errors %}
                        {{e}}
                    {% endfor %}
                {% endif %}
            </div>


            <div class="button-group">
                <button>Təsdiqlə</button> 
            </div> 
        </form>
    </div>
{% endblock %}