{% extends 'layout.html' %}

{% block title %}
    <title>ECorner - Yeni səviyyə yarat</title>
{% endblock %}

{% block root %}
    <h1>Yeni səviyyə yarat</h1>

    <div class="create-level">
        <form method="post">
            {% csrf_token %}
            <label for="levelname">
                Səviyyə üçün ad təyin edin
            </label>
            <input type="text" id="levelname" name="levelname">
            
            <div class="select">
                <input type="number" onchange="showSelectValue(this)" name="questioncount" value="5" step="5" min="5" max="50">
                <div class="header" onclick="openSelect(this)">
                    <p>Sual limiti - <span>5</span></p>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="options">
                    <div class="option" data-val="5" onclick="setValueSelect(this)">5</div>
                    <div class="option" data-val="10" onclick="setValueSelect(this)">10</div>
                    <div class="option" data-val="15" onclick="setValueSelect(this)">15</div>
                    <div class="option" data-val="20" onclick="setValueSelect(this)">20</div>
                    <div class="option" data-val="25" onclick="setValueSelect(this)">25</div>
                    <div class="option" data-val="30" onclick="setValueSelect(this)">30</div>
                    <div class="option" data-val="40" onclick="setValueSelect(this)">40</div>
                    <div class="option" data-val="50" onclick="setValueSelect(this)">50</div>
                </div>
            </div>
            
            <label for="scorepq">
                Hər sual üçün xal təyin edin
            </label>
            <input type="text" id="scorepq" name="scorepq">
            
            <label for="price">
                Səviyyə ödənişlidirmi
            </label>
            <div class="input-group">
                <label>
                    <span>Xeyr</span>
                    <input type="radio" onchange="openPriceSelect(this)" name="ispaid" value="0" checked>
                    <span></span>
                </label>
                <label>
                    <span>Bəli</span>
                    <input type="radio" onchange="openPriceSelect(this)" name="ispaid" value="1">
                    <span></span>
                </label>
            </div>

            <div class="select disabled">
                <input type="number" onchange="showSelectValue(this)" name="price" value="1"  min="1" max="50">
                <div class="header" onclick="openSelect(this)">
                    <p>Qiymət - <span>1</span> <b class="fa-solid fa-manat-sign"></b></p>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="options">
                    <div class="option" data-val="1" onclick="setValueSelect(this)">1</div>
                    <div class="option" data-val="3" onclick="setValueSelect(this)">3</div>
                    <div class="option" data-val="5" onclick="setValueSelect(this)">5</div>
                    <div class="option" data-val="7" onclick="setValueSelect(this)">7</div>
                    <div class="option" data-val="10" onclick="setValueSelect(this)">10</div>
                    <div class="option" data-val="15" onclick="setValueSelect(this)">15</div>
                    <div class="option" data-val="20" onclick="setValueSelect(this)">20</div>
                    <div class="option" data-val="50" onclick="setValueSelect(this)">50</div>
                </div>
            </div>

            <div class="button-group">
                <button>
                    Yadda saxla
                </button>

                <a href="{% url 'levels' %}">
                    Səviyyələr
                </a>
            </div>
            
        </form>
    </div>
{% endblock %}