{% extends 'layout.html' %}
{% load static %}
{% load custom_filters %}

<!-- Page Title -->
{% block title %}
    <title>
        ECorner - Dashboard
    </title>
{% endblock %}


<!-- Style -->
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/dashboard.min.css' %}">
{% endblock %}


{% block root %}

    <!-- Breadcrumb --> 
    <div class="breadcrumb"> 
        <span><i class="fa-solid fa-home"></i> Ana səhifə</span>
    </div>
    
    {% if not posts %}
        <div class="create-default-posts">
            <a href="{% url 'createdefaultposts' %}">
                + Default postları əlavə et
            </a>
        </div>
    {% endif %}


    {% if not has_post %}
        <div class="post-create-cards">
            <div class="welcome">
                <div class="card-img"> 
                    <img src="{% static 'images/welcome.webp' %}" alt="welcome" draggable="false" loading="lazy" >
                </div>
                <div class="card-body">
                    <h2>Xoş gəldin, <span>{{request.user.username}}</span></h2>
                    <p>
                        Post paylaşaraq xal qazana biləcəyini bilirdin? İndi isə necə işlədiyini izah edək:
                    </p> 
                    <ul>
                        <li>
                            - Saytda İngiliscə, Almanca və Rusca cümlələr və izahını post şəklində paylaşa bilərsən.
                        </li>
                        <li>
                            - Hər paylaşdığın post üçün balansından 100 xal çıxılır.
                        </li>
                        <li>
                            - Lakin postuna gələn hər bəyənmə sənə +10 xal qazandırır.
                        </li>
                    </ul>
                    <p>
                        Nə qədər maraqlı və keyfiyyətli post paylaşsan, bir o qədər çox xal əldə edə bilərsən. Hazırsansa, ilk postunu paylaş!
                    </p>
                    <div class="card-footer">
                        <a href="{% url 'postcreate' %}"><i class="fa-solid fa-square-plus"></i> Post paylaş</a>
                    </div>
                </div>
            </div> 
        </div>
    {% endif %}

    {% if posts %}

        <div class="posts-container">
            <h3 class="posts-header">Təsdiqlənmiş son postlar</h3>
            <div class="posts">
                {% for p in posts %}
                    <div class="post">
                        <div class="post-header">
                            <div class="left">
                                <div class="avatar">
                                    {% if p.author.avatar %}
                                        <img src="{{p.author.avatar.url}}" alt="{{p.author.username}}" draggable="false">
                                    {% else %}
                                        <img src="{% static 'images/default-avatar.png' %}" alt="{{p.author.username}}" draggable="false" class="default-img">
                                    {% endif %}
                                </div>
                                <div class="account-info"> 
                                    <h2>
                                        <a href="{% url 'myaccount' p.author.user.username %}">@{{p.author.user.username}}</a>
                                    </h2>
                                    {% if p.author.user.first_name or p.author.user.last_name %}
                                        <h3>{{p.author.user.last_name}} {{p.author.user.first_name}}</h3>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="right">
                                <div class="dots">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                <div class="post-dropdown"></div>
                            </div>
                        </div>
                        <div class="post-body">
                            <div class="foreign-lang">
                                <div class="flag">
                                    <img src="{% static 'images/'|add:p.lang|lower|add:'.png' %}" draggable="false" alt="{{p.lang}}">
                                </div>
                                <div class="content">
                                    <div class="lang">{{p.lang}}</div>
                                    <div class="sentence">
                                        {% if p.sentence|length > 30 %}
                                            {{p.sentence|slice:"0:27"|add:'...'}}
                                        {% else %}
                                            {{p.sentence}}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="description">
                                <div div class="flag">
                                    <img src="{% static 'images/az.png' %}" draggable="false" alt="AZ">
                                </div>
                                <div class="content">
                                    <div class="lang">AZ</div>
                                    <div class="sentence">
                                        {% if p.description|length > 35 %}
                                            {{p.description|slice:"0:32"|add:'...'}}
                                        {% else %}
                                            {{p.description}}
                                        {% endif %} 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="like-created">
                            <div class="like"> 
                                {% if p.id in liked_posts %}
                                    <i class="fa-solid fa-heart"></i>
                                {% else %}
                                    <i class="fa-regular fa-heart" onclick="postLike(this)" data-id="{{p.id}}" data-url="{% url 'postlike' %}"></i>
                                {% endif %}
                                <span>{{p.likes}}</span>
                            </div>
                            <div class="dot"></div>
                            <div class="created">
                                {{p.created_at|smart_date}} paylaşılıb
                            </div>
                        </div>
                        <div class="btn-group">
                            <a href="{% url 'postdetail' p.slug %}"><i class="fa-brands fa-leanpub"></i> Ətraflı bax</a>
                        </div>
                    </div>  
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/postlike.js' %}"></script>
{% endblock %}