{% extends 'layout.html' %}

{% block root %}

{% block title %}
    <title>ECorner - Səviyyə detal səhifəsi</title>
{% endblock %}

<h1>Səviyyə detal səhifəsi</h1>

<div class="level-detail">
    <form method="post">
        {% csrf_token %}
        <label for="levelname">
            Səviyyə üçün təyin edilmiş ad
        </label>
        <input type="text" id="levelname" name="levelname" value="{{level.name}}">
        
        <div class="select">
            <input type="number" onchange="showSelectValue(this)" name="questioncount" value="{{level.q_count}}" step="5" min="5" max="50">
            <div class="header" onclick="openSelect(this)">
                <p>Təyin edilmiş sual limiti - <span>{{level.q_count}}</span></p>
                <i class="fa-solid fa-angle-down"></i>
            </div>
            <div class="options">
                <div class="option" data-val="5" onclick="setValueSelect(this)">5</div>
                <div class="option" data-val="10" onclick="setValueSelect(this)">10</div>
                <div class="option" data-val="15" onclick="setValueSelect(this)">15</div>
                <div class="option" data-val="20" onclick="setValueSelect(this)">20</div>
                <div class="option" data-val="25" onclick="setValueSelect(this)">25</div>
                <div class="option" data-val="30" onclick="setValueSelect(this)">30</div>
                <div class="option" data-val="40" onclick="setValueSelect(this)">40</div>
                <div class="option" data-val="50" onclick="setValueSelect(this)">50</div>
            </div>
        </div>
        
        <label for="scorepq">
            Hər sual üçün  təyin edilmiş xal
        </label>
        <input type="text" id="scorepq" name="scorepq" value="{{level.scorepq}}">
        
        <label for="price">
            {% if not level.ispaid %}
                Bu səviyyə ödənişsiz olaraq təyin edilib
            {% else %}
                Bu səviyyə ödənişli olaraq təyin edilib
            {% endif %}
        </label>
        <div class="input-group">
            <label>
                <span>Xeyr</span>
                <input type="radio" onchange="openPriceSelect(this)" name="ispaid" value="0" {% if not level.ispaid %}checked{% endif %}>
                <span></span>
            </label>
            <label>
                <span>Bəli</span>
                <input type="radio" onchange="openPriceSelect(this)" name="ispaid" value="1" {% if level.ispaid %}checked{% endif %}>
                <span></span>
            </label>
        </div>

        <div class="select {% if not level.ispaid %}disabled{% endif %}">
            <input type="number" onchange="showSelectValue(this)" name="price" value="{{level.price}}"  min="1" max="50">
            <div class="header" onclick="openSelect(this)">
                <p>Təyin edilmiş qiymət - <span>{{level.price}}</span> <b class="fa-solid fa-manat-sign"></b></p>
                <i class="fa-solid fa-angle-down"></i>
            </div>
            <div class="options">
                <div class="option" data-val="1" onclick="setValueSelect(this)">1</div>
                <div class="option" data-val="3" onclick="setValueSelect(this)">3</div>
                <div class="option" data-val="5" onclick="setValueSelect(this)">5</div>
                <div class="option" data-val="7" onclick="setValueSelect(this)">7</div>
                <div class="option" data-val="10" onclick="setValueSelect(this)">10</div>
                <div class="option" data-val="15" onclick="setValueSelect(this)">15</div>
                <div class="option" data-val="20" onclick="setValueSelect(this)">20</div>
                <div class="option" data-val="50" onclick="setValueSelect(this)">50</div>
            </div>
        </div>

        <div class="button-group">
            <button>
                Yadda saxla
            </button>

            <a href="{% url 'levels' %}">
                Səviyyələr
            </a>
        </div>
    </form>
</div>

{% endblock %}