{% extends 'layout.html' %}
{% load static %}
{% load custom_filters %}

<!-- Page Title -->
{% block title %}
    <title>
        ECorner - Bildirişlər
    </title>
{% endblock %}


<!-- Style -->
{% block styles %}
     <link rel="stylesheet" href="{% static 'css/notifications.min.css' %}">
{% endblock %}


{% block root %}

    <!-- Breadcrumb --> 
    <div class="breadcrumb"> 
        <a href="{% url 'dashboard' %}"><i class="fa-solid fa-home"></i> Ana səhifə</a>
        <span>Bildirişlər</span>
    </div>

    <h1>Bildirişlər</h1>


    <div class="notifications">
        {% for n in notifications %} 
            <div class="notification"> 
                {% include "partials/notification-body.html" %}
            </div>  
        {% endfor %}
    </div>
 
{% endblock %}

<!-- Scripts -->
{% block scripts %}
        <script src="{% static 'scripts/notification.js' %}"></script>
{% endblock %}