{% extends 'layout.html' %}
{% load static %}

{% block title %}
    <title>ECorner - Sual modelləri</title>
{% endblock %}

{% block root %}
<h1>Sual modelləri</h1>
<div class="cards">
    <div class="card">
        <div class="avatar">
            <img src="{% static 'images/options.png' %}" alt="options">
        </div>
        <div class="card-body">
            <h3>Variantlı sual yarat</h3>
            <p>Bu modeldən istifadə edərək 3 variantlı suallar yaradılır</p>
        </div>
        <div class="card-footer">
            <a href="{% url 'createquizwithoptions' %}">Daxil ol</a>
        </div>
    </div>
</div>
{% endblock %}