{% extends 'layout.html' %}

{% block root %}

<!-- Page Title -->
{% block title %}
    <title>
        ECorner - İstifadəçilər
    </title>
{% endblock %}


<h1>İstifadəçilər</h1>




<div class="table">

    <div class="main-modal">
        <div class="modal-body">
            <div class="icon">
                <i class="fa-solid fa-bullhorn"></i>
            </div>
            <div class="text">
                <p>İstifadəçi saytdan qalıcı olaraq silinməyəcək, sadəcə aktivlik statusu dəyişəcək.</p>
            </div>

            <div class="close">
                <button onclick="closeModal(this)">Bağla</button>
            </div>
        </div>
    </div>


    <div class="header">
        <h2>Saytda qeydiyyatdan keçən istifadəçilər</h2>
        <a href="{% url 'createlevel' %}">İstifadəçi yarat</a>
    </div>

        {% if users %}
        <div class="elements">
            <div class="row">
                <div class="col">ID</div>
                <div class="col">İstifadəçi adı</div>
                <div class="col">E-mail</div>
                <div class="col">Status</div>
                <div class="col">Tənzimlə</div>
            </div>
            {% for u in users %}
                <div class="row">
                    <div class="col">{{u.id}}</div>
                    <div class="col">{{u.username}} <a href="{% url 'userdetail' u.id %}"><i class="fa-solid fa-square-up-right"></i></a></div>
                    <div class="col">{{u.email}}</div>
                    <div class="col">{{u.is_active}}</div>
                    <div class="col settings-buttons"> 
                        <a href="javascript:void(0)"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="https://youtube.com" onclick="openModal(event)"><i class="fa-regular fa-trash-can"></i></a> 
                    </div>
                </div>  
            {% endfor %}
        </div>
        {% else %}
            <div class="no-content">
                Göstəriləcək data yoxdur!
            </div>
        {% endif %}

   
</div>

 

{% endblock %}