{% extends 'layout.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/users.min.css' %}">
{% endblock %}


<!-- Page Title -->
{% block title %}
    <title>
        ECorner - İstifadəçilər
    </title>
{% endblock %}

{% block root %}

    <!-- Breadcrumb --> 
    <div class="breadcrumb">
        <a href="{% url 'dashboard' %}"><i class="fa-solid fa-home"></i> Ana səhifə</a>
        <span>İstifadəçilər</span>
    </div>

    <h1>İstifadəçilər</h1>
    <div class="table">
        <div class="header">
            <h2>Saytda qeydiyyatdan keçən istifadəçilər</h2>
        </div>
            {% if accounts %}
            <div class="elements">
                <div class="row">
                    <div class="col">ID</div>
                    <div class="col">Avatar</div>
                    <div class="col">İstifadəçi adı</div> 
                    <div class="col">Aktiv hesabdır</div>
                    <div class="col">Admindir</div>
                    <div class="col">Super Admindir</div>
                </div>
                {% for account in accounts %}
                    <div class="row">
                        <div class="col">{{account.id}}</div>
                        <div class="col">
                            <div class="account-avatar">
                                {% if account.avatar %}
                                    <img src="{{account.avatar.url}}" alt="{{account.user.username}}" draggable="false">
                                {% else %}
                                    <img src="{% static 'images/default-avatar.png' %}" alt="{{account.user.username}}" draggable="false">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col">{{account.user.username}} <a href="#"><i class="fa-solid fa-square-up-right"></i></a></div>
                        <div class="col">
                            <div class="switchery {% if account.user.is_active %}switchery-on{% endif %}" onclick="switcheryToggle(this)" data-url="" data-type=""></div>    
                        </div>
                        <div class="col">
                            <div class="switchery {% if account.user.is_staff %}switchery-on{% endif %}" onclick="switcheryToggle(this)" data-id="{{account.user.id}}" data-url="{% url 'changeuserstaff' %}" data-type="changeUserStaff"></div>    
                        </div>
                        <div class="col">
                            <div class="switchery {% if account.user.is_superuser %}switchery-on{% endif %}" onclick="switcheryToggle(this)" data-url="" data-type=""></div>    
                        </div>
                    </div>  
                {% endfor %}
            </div>
            {% else %}
                <div class="no-content">
                    Göstəriləcək data yoxdur!
                </div>
            {% endif %}
    </div>
{% endblock %}


<!-- Scripts -->
{% block scripts %}
    <!-- Switchery -->
    <script src="{% static 'scripts/change-user-status.js' %}"></script>
    <script src="{% static 'scripts/switchery.js' %}"></script>
{% endblock %}