{% extends 'layout.html' %}

{% block title %}

    <title>ECorner - Variantlı sual yarat</title>

{% endblock %}


{% block root %}
    <h1>Variantlı sual yarat</h1>


    <div class="create-quiz-with-options">
        <form action="" method="post">
            {% csrf_token %}
    
            <label for="quiz_title">
                📍 Sual başlığı təyin edin
            </label>
            <input type="text" name="quiztitle" id="quiz_title" placeholder="Sual başlığı" autocomplete="off">
            <div class="input-alert"></div>
    
            <label for="correct_answer">
                🟢 Düzgün cavabı qeyd edin
            </label>
            <input type="text" name="correctanswer" id="correct_answer" placeholder="Düzgün cavab" autocomplete="off">
            <div class="input-alert"></div>
    
            <label for="wrong_answer_a">
                🔴 Digər variantı təyin edin
            </label>
            <input type="text" name="wronganswer_a" id="wrong_answer_a" placeholder="Yanlış cavab" autocomplete="off">
            <div class="input-alert"></div>
    
            <label for="wrong_answer_b">
                🔴 Digər variantı təyin edin
            </label>
            <input type="text" name="wronganswer_b" id="wrong_answer_b" placeholder="Yanlış cavab" autocomplete="off">
            <div class="input-alert"></div>
            
            <div class="button-group">
                <button>Yadda saxla</button>
                <a href="{% url 'quizmodels' %}">Modellər</a>
            </div>
    
        </form>
    </div>

{% endblock %}